html {
    font-family: sans-serif;
}

body{
    background-color: rgb(233, 176, 20);
    
}

#box-el{
    background-color: rgb(116, 109, 18);
    width: 27%;
    margin-left: 35%;
    margin-top: 9%;
    border-radius: 1rem; 
    padding: 1rem; 
}

.star {
    background-color: rgb(37, 32, 32);
    border-radius: 52%;
    width: 12%;
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 2%;
    padding-left: 2%;
}

.round{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    background: rgb(233, 176, 20);
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;

}

button{
	background-color:rgb(233, 176, 20);
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:25px;
	padding:18px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    width: 100%;
}